.main__chatcomments{"data-message-id": message.id}
  .main__user
    .main__chat-comments--user
      = message.user.name
      .main__chat-comments--date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main__chat-comments--text
  - if message.content.present?
    %p.lower-message__content
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
