<div>
  <div class="header">
    <div class="header__comment">チャットグループが生成されました。</div>
  </div>
  <div class="sidebar">
    <div class="sidebar__user">
      これがsidebar__userだよ
    </div>
  </div>
  <div class="main-contants"></div>
</div>