<div class="header">
  <div class="header__comment">チャットグループが生成されました。</div>
</div>
<div class="sidebar">
  <div class="sidebar__user">
    <div class="sidebar__user--nemu">
      username01
      <div class="sidebar__user--icon">
        <i class="fa fa-edit"></i>
        <i class="fa fa-cog"></i>
      </div>
    </div>
    <div class="sidebar__contents">
      <p class="sidebar__contents--groups">hogehoge</p>
      <p class="sidebar__contents--messege">hohohohoho</p>
      <p class="sidebar__contents--groups">hogehoge</p>
      <p class="sidebar__contents--messege">hohohohoho</p>
      <p class="sidebar__contents--groups">hogehoge</p>
      <p class="sidebar__contents--messege">hohohohoho</p>
    </div>
  </div>
</div>
<div class="main">
  <div class="main__chatgroup">
    <div class="main__chatgroup--contents">
      <div class="main__chatgroup--theme">Sampleグループ</div>
      <div class="main__chatgroup--text">MEMBER:hoge</div>
    </div>
    <input href="#" type="submit" value="Edit" class="main__chatgroup--edit-btn"></input>
  </div>
  <div class="main__chatcomments">
    <div class="main__chat-comments--user">ほげお</div>
    <div class="main__chat-comments--text">なるほど〜〜</div>
    <div class="main__chat-comments--user">hogemi</div>
    <div class="main__chat-comments--text">へえ〜〜</div>
    <div class="main__chat-comments--user">ryousuke</div>
    <div class="main__chat-comments--text">それはどういうことですか？</div>
  </div>
  <div class="main__chat-form">
    <input class="main__chat-for--input" placeholder="input messeage" ></input>
    <i class="fa fa-image"></i>
    <input href="#" type="submit" value="Send" class="main__chat-form--btn"></input>
  </div>
</div>
