.main {
  width: 1150px;
  height: 600px;
  padding: 30px 0px 0px 300px;
}

.main__chatgroup {
  width: 1150px;
  height: 120px;
  border-bottom: thin solid #eeeeee;
}

.main__chatgroup--contents {
  float: left;
}

.main__chatgroup--theme {
  padding: 35px 0px 0px 40px;
  font-size: 20px;
  color: #333333;
}

.main__chatgroup--text {
  padding: 15px 0px 0px 40px;
  font-size: 12px;
  color: #999999;
}
.main__chatgroup--edit-btn {
  height: 40px;
  border: thin solid #38AEF0;
  float: right;
  margin: 28px 40px 0px 500px;
  padding: 0px 20px;
}

.main__chatcomments {
  width: 1150px;
  height: 100%;
  /*background-color: #AAAAAA;*/
  padding-left: 40px
}

.main__chat-comments--user {
  padding-top: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #434A54;
}

.main__chat-comments--text {
  padding-top: 10px;
  font-size: 14px;
  color: #434A54;
}

.form {
  width: 1150px;
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  position: absolute;
  bottom: 0;


  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: #38AEF0;
    border: none;
    color: white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}


// }
// .main__chat-form {
//   background-color: #DDDDDD;
//   box-sizing: border-box;
//   height: 90px;
//   padding: 20px 50px 20px 40px;
//   // width: 1050px;
//   // height: 50px;
//   // margin: 20px 0px 20px 50px;
//   position: absolute;
//   bottom: 0;
// }

// .main__chat-form--input {
//   font-size: 16px;
//   color: #434A54;
//   height: 50px;
//   width: 900px;
//   padding-left: 200px;
//   float: left;
// }

// .fa-image {
//   padding-left: 20px;
// }

// .main__chat-form--btn {
//   width: 70px;
//   height: 50px;
//   background-color: #38AEF0;
//   text-align: center;
//   float: right;
//   margin: 0px 40px 0px 40px;
// }
// .clearfix::after {
//   content: '';
//   display: block;
//   clear: both;
// }